@using Abp.MultiTenancy
@using Lanting.IDCode.Application
@using Lanting.IDCode.Web.Models.Common.Modals
@using Lanting.IDCode.Utility
@using Lanting.IDCode.Entity
@model GenerateTaskDto
@{
    Layout = null;
}
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("任务详情"))
<div class="modal-body">
    <form name="GenerateTaskEditForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@Model.Id" />

        <div class="form-group form-float">
            <div class="form-line">
                <input class="form-control" type="text" name="Remark" value="@Model.Remark" readonly="readonly">
                <label for="Remark" class="form-label">任务名称</label>
            </div>
        </div>
        <div class="form-group form-float">
            <div class="form-line">
                <input class="form-control" type="datetime" name="Created" value="@Model.Created" required maxlength="6" readonly="readonly">
                <label for="Created" class="form-label">创建时间</label>
            </div>
        </div>
        <div class="form-group form-float">
            <div class="">
                <i class="material-icons" style="color:@(Model.IsSuccess ? "green":"red");">
                    @(Model.IsSuccess ? "check_box" : "indeterminate_check_box")
                </i>
                <label for="IsSuccess" class="form-label">是否成功</label>
            </div>
        </div>

        @if (!Model.IsSuccess)
        {
            <div class="form-group form-float">
                <div class="form-line">
                    <input class="form-control" type="text" name="FailReason" value="@Model.FailReason" readonly="readonly">
                    <label for="FailReason" class="form-label">失败原因</label>
                </div>
            </div>
        }
        <div class="form-group form-float">
            <div class="form-line">
                <input class="form-control" type="text" name="ProductId" value="@Model.Product.FullName" required maxlength="11" readonly="readonly">
                <label for="ProductId" class="form-label">使用页面名称</label>
            </div>
        </div>
        <div class="form-group form-float">
            <div class="form-line">
                <input class="form-control" type="text" name="GenerateCount" value="@Model.GenerateCount" required maxlength="11" readonly="readonly">
                <label for="GenerateCount" class="form-label">生成数量</label>
            </div>
        </div>
        <div class="form-group form-float">
            <div class="form-line">
                <input class="form-control" type="text" name="TaskStatu" value="@EnumHelper.Codes((TaskStatu)Model.TaskStatu)" required maxlength="11" readonly="readonly">
                <label for="TaskStatu" class="form-label">运行状态</label>
            </div>
        </div>
        <div class="form-group form-float">
            <div class="">
                <i class="material-icons" style="color:@(Model.IsAntiFake ? "green":"red");">
                    @(Model.IsAntiFake ? "check_box" : "indeterminate_check_box")
                </i>
                <label for="IsAntiFake" class="form-label">是否防伪</label>
            </div>
        </div>

        @if (Model.IsAntiFake)
        {
            <div class="form-group form-float">
                <div class="form-line">
                    <input class="form-control" type="text" name="AFCodeLength" value="@Model.AFCodeLength" maxlength="11" readonly="readonly">
                    <label for="AFCodeLength" class="form-label">防伪码长度</label>
                </div>
            </div>
            <div class="form-group form-float">
                <div class="form-line">
                    <input class="form-control" type="text" name="AntiFackCodeType" value="@Model.AntiFackCodeType" required maxlength="11" readonly="readonly">
                    <label for="AntiFackCodeType" class="form-label">防伪码类型</label>
                </div>
            </div>
        }
        @if (Model.IsSuccess)
        {
            <div class="form-group form-float">
                <div class="form-line">
                    <input class="form-control" type="text" name="StartOne" value="@Model.StartOne" required maxlength="20" readonly="readonly">
                    <label for="StartOne" class="form-label">开始位置</label>
                </div>
            </div>
            <div class="form-group form-float">
                <div class="form-line">
                    <input class="form-control" type="text" name="EndOne" value="@Model.EndOne" required maxlength="20" readonly="readonly">
                    <label for="EndOne" class="form-label">结束位置</label>
                </div>
            </div>
        }

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default close-button waves-effect" data-dismiss="modal">@L("Cancel")</button>
</div>

<script src="~/view-resources/Views/GenerateTask/_EditGenerateTaskModal.js" asp-append-version="true"></script>