@using Abp.MultiTenancy
@using Abp.Authorization.Users
@using Lanting.IDCode.Application
@using Lanting.IDCode.Web.Startup
@model Abp.Application.Services.Dto.PagedResultDto<GenerateTaskDto>
@{
    ViewBag.CurrentPageName = PageNames.Tasks; //The menu item will be active for this page.
}
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/GenerateTask/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/GenerateTask/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    任务列表
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>任务名称</th>
                            <th>创建时间</th>
                            <th>是否成功</th>
                            <th>是否完成</th>
                            <th>页面名称</th>
                            <th>生成数量</th>
                            <th>任务状态</th>
                            <th>文件</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@item.Remark</td>
                                <td>@item.Created</td>
                                <td>@item.IsSuccess</td>
                                <td>@item.Completed</td>
                                <td>@item.Product.FullName</td>
                                <td>@item.GenerateCount</td>
                                <td>@item.TaskStatu</td>
                                <td>@item.DataFilePath</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-generatetask" data-generatetask-id="@item.Id" data-toggle="modal" data-target="#GenerateTaskEditModal"><i class="material-icons">edit</i>查看</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#GenerateTaskCreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="GenerateTaskCreateModal" tabindex="-1" role="dialog" aria-labelledby="GenerateTaskCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="generateTaskCreateForm" role="form" novalidate class="form-validation">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>创建任务</span>
                    </h4>
                </div>
                <div class="modal-body">

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input class="form-control" type="text" id="Remark" name="Remark">
                            <label for="Remark" class="form-label">名称</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input class="form-control" type="text" id="Completed" name="Completed" maxlength="6">
                            <label for="Completed" class="form-label">是否完成</label>
                        </div>
                    </div>
                 
                    <div class="form-group form-float">
                        <label for="ProductId" class="form-label" style="color:#aaa;font-weight:normal">选择页面</label>
                        <div class="form-line">
                            @Html.DropDownList("ProductId", ViewBag.Products as IEnumerable<SelectListItem>, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input class="form-control" type="text" id="GenerateCount" name="GenerateCount" required maxlength="11">
                            <label for="GenerateCount" class="form-label">生成数量</label>
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input class="form-control" type="text" id="AFCodeLength" name="AFCodeLength" maxlength="11">
                            <label for="AFCodeLength" class="form-label">防伪码长度</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input class="form-control" type="text" id="AntiFackCodeType" name="AntiFackCodeType" required maxlength="11">
                            <label for="AntiFackCodeType" class="form-label">防伪码类型</label>
                        </div>
                    </div>
                    <p>Tips information is here</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                    <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="GenerateTaskEditModal" tabindex="-1" role="dialog" aria-labelledby="GenerateTaskEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>