@using Abp.MultiTenancy
@using Abp.Authorization.Users
@using Lanting.IDCode.Application
@using Lanting.IDCode.Web.Startup
@model Abp.Application.Services.Dto.PagedResultDto<ProductInfoDto>
@{
    ViewBag.CurrentPageName = PageNames.Products; //The menu item will be active for this page.
}


@section scripts
    {
    <script src="~/view-resources/Views/Product/Index.js" asp-append-version="true"></script>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L(PageNames.Products)
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>

                            <th>页面代号</th>
                            <th>页面名称</th>
                            <th>有否有效</th>
                            <th>描述</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>

                                <td>@item.Code</td>
                                <td>@item.FullName</td>
                                <td><i class="material-icons" style="color:@(item.IsEnabled ? "green":"red");">@(item.IsEnabled ? "check_box" : "indeterminate_check_box")</i></td>
                                <td>@item.Description</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-productinfo" data-productinfo-id="@item.Id" data-toggle="modal" data-target="#ProductInfoEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-productinfo" data-productinfo-id="@item.Id" data-productinfo-name="@item.Id"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                        <li><a href="#" class="waves-effect waves-block show-qr" data-productinfo-code="@item.QRCodeImage" data-toggle="modal" data-target="#ShowQRCode"><i class="material-icons">label</i>二维码</a></li>

                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ShowQRCode" tabindex="-1" role="dialog" aria-labelledby="ShowQRCodeLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 150px">
        <div class="modal-content">

            <div style="vertical-align:central;text-align:center">
                <img id="showQrImage" />
            </div>

        </div>
    </div>
</div>