@using Abp.MultiTenancy
@using Abp.Authorization.Users
@using Lanting.IDCode.Application
@using Lanting.IDCode.Web.Startup
@model Abp.Application.Services.Dto.PagedResultDto<ProductInfoDto>
@{
    ViewBag.CurrentPageName = PageNames.Products; //The menu item will be active for this page.
}
<script src="~/view-resources/Views/Product/Index.js"></script>
<script src="~/view-resources/Views/Product/tiny/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "h1.editable#elm2",       //elm2为ID                 可将selector值理解为css中class、ID等，以此使用tinymce中样式（比如编辑框内文本显示样式、工具栏样式）--个人理解，不保证正确
        inline: true,                       //为true时，编辑工具栏隐藏
        toolbar: "undo redo",
        menubar: false
    });
    tinymce.init({
        selector: 'textarea#elm1',          //<textarea>中为编辑区域
        theme: "modern",                  //主题
        language: "zh_cn",                //语言 ，可自行下载中文

        height: 300,
        plugins: [                             //插件，可自行根据现实内容删除
            "advlist autolink lists charmap print preview hr anchor pagebreak spellchecker",
            "searchreplace wordcount visualblocks visualchars fullscreen insertdatetime  nonbreaking image imagetools",
            "save table contextmenu directionality emoticons paste textcolor"
        ],

        //content_css: "css/content.css",      //引用的外部CSS样式，可删除
        toolbar: "insertfile undo redo | styleselect fontselect fontsizeselect| bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      | print preview fullpage | forecolor backcolor | image",                          //工具栏，可根据需求删除
        style_formats: [                        //初始时提供的默认格式
            { title: 'Bold text', inline: 'b' },
            { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
            { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
            { title: 'Example 1', inline: 'span', classes: 'example1' },
            { title: 'Example 2', inline: 'span', classes: 'example2' },
            { title: 'Table styles' },
            { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
        ],
        language: 'zh_CN',
        images_upload_handler: function (blobInfo, success, failure) {

            var formData = new FormData();
            // formData.ppend(name, element);
            formData.append('file', blobInfo.blob(), blobInfo.filename());
            $.ajax({
                url: abp.appPath + 'Product/FileUpload',
                method: 'POST',
                data: formData,
                contentType: false, // 注意这里应设为false
                processData: false,
                cache: false,
                success: function (data) {
                    if (data.result.statusCode == 200) {
                        success(data.result.data.url);
                    }
                },
                error: function (jqXHR) {
                    console.log(JSON.stringify(jqXHR));
                }
            }).done(function (data) {
                console.log('done');
            }).fail(function (data) {
                console.log('fail');
            }).always(function (data) {
                console.log('always');
            });
        }
    });

</script>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L(PageNames.Products)
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>

                            <th>产品代号</th>
                            <th>产品名称</th>
                            <th>有否有效</th>
                            <th>描述</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>

                                <td>@item.Code</td>
                                <td>@item.FullName</td>
                                <td><i class="material-icons" style="color:@(item.IsEnabled ? "green":"red");">@(item.IsEnabled ? "check_box" : "indeterminate_check_box")</i></td>
                                <td>@item.Description</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-productinfo" data-productinfo-id="@item.Id" data-toggle="modal" data-target="#ProductInfoEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-productinfo" data-productinfo-id="@item.Id" data-productinfo-name="@item.Id"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#ProductInfoCreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ProductInfoCreateModal" tabindex="-1" role="dialog" aria-labelledby="ProductInfoCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="productInfoCreateForm" role="form" novalidate class="form-validation">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>创建新产品图文</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input class="form-control" type="text" id="Code" name="Code">
                            <label for="Code" class="form-label">产品代号</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input class="form-control" type="text" id="FullName" name="FullName">
                            <label for="FullName" class="form-label">产品名称</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input class="form-control" type="text" id="Description" name="Description">
                            <label for="Description" class="form-label">描述</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="activityshow_box" style="margin-top:40%;width: 100%;display:none;margin-let:15%;margin-right:15%;padding:0;margin:2px 0;">
                        </div>
                        <textarea id="elm1" name="HtmlContent">请输入产品图文内容...</textarea>
                        <p>Tips information is here</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="ProductInfoEditModal" tabindex="-1" role="dialog" aria-labelledby="ProductInfoEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>